#cy{
  position: relative;
}

.cy-container .box{
  z-index: 2;
  background-color: #e2e2e2;
  border-radius: 10px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  padding: 10px;
  position: absolute;
  max-height:350px;
  max-width: 300px;
}

.cy-container .info{
  right: 0;
  top: 0;
}

.cy-container .options{
  left: 0;
  top: 0;
}
